// Bu değeri responsive tasarımımızın kırılma noktası olarak her yerde kullanacağız.
// 856px olmasının bir sebebi yok kendim deneme yoluyla bu değere karar kıldım.
$breakpoint: 856px;

// Default olarak hiçbir margin-padding istemiyoruz.
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// React projelerinin boilerplate bazı ayarları
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// Etiketlerin genel tanımlarını burada yapacağız.

a {
  text-decoration: none;
}

main {
  // 100vh tam ekran boyutu - 75px (Navbar Boyutumuz) - 30px (Footer Boyutumuz) - 2px (Padding Payı);
  min-height: calc(100vh - 107px);
}

// Footer Styles

footer {
  height: 30px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;

  a {
    margin-left: 7px;
    color: white;
  }
}

// Navbar Styles

header {
  color: white;
  background-color: black;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;

  .logo {
    flex: 1;
    padding-left: 4%;

    a {
      color: white;
      font-size: 30px;
      font-weight: bold;
      font-family: "Indie Flower", cursive;
      text-transform: uppercase;
    }
  }

  nav {
    flex: 4;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .nav-link {
      color: white;
      text-decoration: none;
      font-size: 1.1em;
      font-family: "Poppins", sans-serif;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: #ff6060;
      }

      &.active {
        color: red;

        &:hover {
          color: white;
        }
      }
    }

    // Eğer mobil cihazdan giriş yapılmışsa navbarımızı artık bir "sidebar"'a dönüştürüyoruz.
    @media screen and (max-width: $breakpoint) {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: -200px;
      bottom: 0;
      top: 0;
      height: 100vh;
      background-color: black;
      width: 200px;
      transition: left 0.6s ease-in-out;
      z-index: 999999;
      &.open {
        left: 0;
      }
    }
  }

  .burger {
    padding-right: 4%;
    @media screen and (min-width: $breakpoint) {
      display: none;
    }

    svg {
      fill: white;
    }
  }
}

// Projemizin bir çok yerinde kullanacağımız "ortaya alma" stillendirmesi.
// Bir Backend Developerın en büyük hayat arkadaşıdır.
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Dünya haritasını kapsayan component. Genel olarak dünya haritasının boyutları ile ilgileniyor.
.worldmap-wrapper {
  height: 80vh;
  width: 100%;
  position: relative;

  // Haritanın sağ üstünde bulunan ülke seçme selectbox'ını kapsayan component.
  .country-select {
    position: absolute;
    right: 15px;
    top: 15px;
    // Haritamızın altında kalmaması için z-indexini arttırıyoruz.
    z-index: 5;

    .MuiFormControl-root {
      z-index: 6;
    }
  }

  @media screen and (max-width: $breakpoint) {
    height: 50vh;
  }
}

// Analizlerimizi kapsayan component.
.bar-chart-wrapper {
  height: 600px;
  width: 80%;
}

// Haritanın aşağısında bulunan alanın tamamını kapsayan component.
.country-container {
  margin: 10px 0 30px 0;

  // Ülke bilgileri
  .info {
    margin-bottom: 50px;

    h2 {
      font-family: "Poppins", cursive;
    }

    .flag {
      max-height: 50px;
      max-width: 50px;
      margin-left: 10px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .updated {
      text-align: center;
      font-family: "Roboto", cursive;
      font-size: 12px;
      font-weight: 300;
    }
  }
}

// Bir ülkenin detay bilgilerinin bulunduğu tablonun stillendirmesi.
table.country-details {
  margin-bottom: 50px;
  border-collapse: collapse;

  tbody {
    tr {
      td {
        color: white;
        background-color: black;
      }

      td,
      th {
        // border kullanınca dış kısıma efekt verecektir. box-shadow'un inset özelliği ile aslında kenarlığımızı içeriden veriyoruz.
        box-shadow: inset 0 0 0 1px #6e6e6e;
        padding: 10px 45px;
        text-align: center;
      }
    }
  }
}

// Analizlerimizin başında bulunan siyah arkaplanlı başlığın stillendirmesi.
.chart-title {
  color: white;
  background-color: black;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-weight: 500;
  margin: 35px 0;
  text-align: center;
}

// Yükleme (Bazı durumlarda Hata) durumlarında ekrana bastırdığımız yazının stillendirmesi.
#loading {
  color: red;
  text-align: center;
  font-family: "Poppins", cursive;
  font-size: 17px;
  margin: 7px 0;
}
